<div id="mainPart">
    <div>
        <!-- Header part to be added later -->
        <header>
            <div class="head-content">
                <h1>Reaching Hand:Web connect portal</h2>
            </div>
        </header>
        <!-- Navigation -->
        <!--<nav class="x-nav">
            <ul class="nav-custom">
                <li class="nav-item nav-active"><a href="inventory.html">Inventory</a></li>
                <li class="nav-item"><a href="request.html">Approval Request</a></li>
                <li class="nav-item"><a href="attendance.html">Attendance</a></li>
            </ul>
        </nav>-->
        <div id="page_heading">
            <p>See what's in store!</p>
        </div>
        <!-- Main Content -->
        <div class="container">
            <!--<div class="sidenav">
                <a href="#" class="sidenav-active">Boys</a>
                <a href="#">Girls</a>
                <a href="#">Kitchen</a>
            </div>-->



        </div>
        <!-- Footer -->
        <footer>
            <div class="footrow">
                <div class="foot">
                    <div class="quarter-width">
                        <p style="color:#fff;">Address</p>
                        <hr>
                        <div>
                            No. 44, 1st Floor Nehru Road, Above Syndicate Bank Yadava Layout, Arvind Nagar St. Thomas Town Post Bangalore - 560 084,India
                            <hr> Phone: +91 08041677874 , +91 9972584243
                            <hr> Email: <a href="mailto:info@reachinghand.org">info@reachinghand.org</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footrow2">
                <div class="foot">
                    <div class="half-width">
                        <p class="foot-p">&copy; cfg CFG</p>
                    </div>
                    <div class="half-width">
                        <p style="float:right !important;" class="foot-p">Developed &amp; maintained "cfg"</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- jQuery
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>-->
    </div>


</div>